{% extends "template/base.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
	<div class="page-header">
		<h1>Home</h1>
	</div>
	<p class="lead">Welcome to my blog developed using Silex and Twig.</p>
	
	<div>
    {% for post in posts %}
        <h3>{{ post.title|e }}</h3>
        <div class="post-date small">{{ post.created|e }}</div>
        <div class="post-content">{{ post.content|e }}</div>
    {% endfor %}
    </div>
	
{% endblock %}